.cnc-gallery-album figure {
	position: relative;
}
.cnc-gallery-album figcaption {
	position: absolute;
	bottom: 10px;
	opacity: 0;
	text-align: center;
	width: 100%;

    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.cnc-gallery-album figcaption:after {
	content: '';
	background-color: #000000;
	opacity: .8;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cnc-gallery-album figcaption h3 {
	color: #fff;
	margin: 0;
	position: relative;
	z-index: 2;
	padding: 30px 0 30px;
}

.cnc-gallery-album .album-link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

.cnc-gallery-album figure:hover figcaption {
	opacity: 1;
	bottom: 0;
}

#swipebox-title {
	font-size: 1.2em;
}
